@font-face {
    font-family: 'BankGothic';
    src: url('../fonts/bankgthd.ttf') format('truetype');
    src: local('../fonts/bankgthl.ttf') format('truetype');
}

html, body {
    margin:0;
    padding:0;
    background: #0b0a32;
}

h1 {
    margin:0;
}
.centered {
    position: relative;
    left: 5%;
    padding-right:5%;
}

#target {
    font-family: 'BankGothic';
    margin-left: 15%;
    display: inline-block;
    margin-right: 10px;
    height: 20px;
}

#score {
    font-family: 'BankGothic';
    display: inline-block;
}

#level {
    font-family: 'BankGothic';
    display: inline-block;
}

#tot_score {
    font-family: 'BankGothic';
    display: inline-block;
}

#targets {
    font-family: 'BankGothic';
    display:inline-block;
}

.textcol {
    color: white;
}
#map {
    height:auto;
    width:auto;
}
