html, body {
    margin:0;
    padding:0;
    background: #0b0a32;
}

h1 {
    margin:0;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#target {
    display: inline-block;
    margin-right: 10px;
}

#score {
    display: inline-block;
}

#level {
    display: inline-block;
}

#tot_score {
    display: inline-block;
}

#targets {
    display:inline-block;
}

.textcol {
    color: white;
}
